body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0px;
}
h1{
    font-size: 50px;
}

.lightblue-color{
    color:rgb(47, 97, 114);

}
section{
    display: flex;
    
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
    padding-left: 15%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(blue lightblue);
    background-color:rgb(170, 170, 216);
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top{
    background-image: url(backg/images.jfif);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: fixed ;
}
